
<<<<<<< HEAD

#nav_list{
	background-color: grey;
}

#nav_list a{
	color:white;
}

#nav_list .nav-divider {
	margin:0;
}

#the_paragraph{
	margin:15px;
	background-color: grey;
	height: 1000px;
	text-align: center;
}

#paragraph_title{
	padding-top: 10px;
	font-size: 1.6em;
	text-align: center;
	color:black;
	font-weight: bold;
}

#paragraph_text{
	padding:15px;
	text-align: left;
	color:black;
}
=======
>>>>>>> 6bbb223733def885963b12711af3d2e7bda8ca93
